* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 50%;
    margin: auto;
}

.container h1, h2, h3, li {
    text-align: center;
}

h1 {
    font-size: 80px;
}

#main-box {
    text-align: center;
}

#timer-score {
    text-align: center;
}

#start-button {
    display: block;
    margin: auto;
}

#submit-button {
    display: inline;
}

#add-initials {
    display: inline;
}

#list-answers button {
    width: 100%;
    margin: 5px;
}

ul li {
    list-style-type: none;
    font-size: 20px;
}

ul li input {
    margin-top: .5em;
}


