* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 50%;
    margin: auto;
}

.container h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 80px;
}

#list-answers button {
    width: 100%;
    margin: 5px;
}

#timer-score {
    text-align: center;
}

ul li {
    list-style-type: none;
    font-size: 20px;
}

ul li input {
    display: inline;
    float: left;
    margin-top: .5em;
}

label {
    margin-left: 8px;

}

